body,
p {
  margin: 0;
}

.window {
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  border: 1px solid red;
  background-image: linear-gradient(
    to right,
    #c64f4f 15%,
    #09792b 15%,
    #09792b 40%,
    #00b9ff 40%,
    #00b9ff 65%,
    #ffb800 65%
  );
}

p {
  width: 30px;
}
